---
layout: compress
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="{{ site.title }} | {{ page.title }}" />

    <!-- Open Graph tags -->
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta
      property="og:image"
      content="{{ site.url }}/line-of-flight-1200x630.jpg?v={{ site.time | date: '%s' }}"
    />
    <meta property="og:site_name" content="{{ site.title }}" />

    <link rel="icon" href="/favicon.ico?v={{ site.time | date: '%s' }}" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png?v={{ site.time | date: '%s' }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png?v={{ site.time | date: '%s' }}"
    />
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@latest/new.min.css"
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Line of Flight B.V.",
        "url": "{{ site.url }}",
        "logo": "https://lineofflig.ht/17c6170a.jpg",
        "contactPoint": [
          {
            "@type": "ContactPoint",
            "email": "hi@lineofflig.ht",
            "contactType": "General Inquiry"
          }
        ]
      }
    </script>
  </head>
  <body>
    <header>
      <h1>Line of Flight</h1>
      <a href="/">Home</a>
      /
      <a href="/join">Join</a>
    </header>
    {{ content }}
    <br />
    <hr />
    <small>&copy; 2024, Line of of Flight B.V.</small>
  </body>
</html>
